@charset "UTF-8";

div#anamnese {
	padding: 40px;
}

body {
	background-color: white;
}

.navbar-header {

	margin-left: 5px;
	margin-right: 5px;
	height: 100px;
	padding:10px;
	
}
#logo{
	margin-left:auto;
	margin-right:auto;
	size:90%;

}
#voltar{
	margin-top:10px;
}